@import "../../scss/variables.scss";

.list {
  display: flex;
  align-items: center;
  gap: 8px;

  li {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.015em;
    color: #2c2c2c;
    
    cursor: pointer;
    background: #f4f4f4;
    border-radius: 30px;
    padding: 13px 20px
  }

  .active{
    background-color: $black;
    color: $white;
  }
}


@media (max-width: 900px){
  .list{
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    li{
      font-size: 13px;
    }
  }
}
