@import "../../scss/variables.scss";

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  max-width: 100%;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.01em;
  margin-bottom: 30px;
  color: $black;
}

.itemsList{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 50px;
  column-gap: 20px;
  margin-bottom: 80px;
}

@media (max-width: 1150px){
  .menu{
    flex-direction: column;
    row-gap: 30px;
  }

  .itemsList{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 740px){
  .itemsList{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 600px){
 
}
